<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric Raboin About Me</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="container">
        <h1>Eric Raboin</h1>       
        <div style="width:400px;">
            <p>Favorite Video Games Currently: <br>
                <ol>
                <li>Rocket League</li>
                <li>Squad</li>
                <li>Phasmophobia</li>
                <li>Kerbal Space Program</li>
                <li>Phasmophobia</li>
                <li>Red Dead Redemption 2</li>
                <li>Monster Hunter: World</li>
                <li>Skyrim</li>
                <li>No Man's Sky</li>
                <li>Euro Truck Simulator 2</li>
              </ol>
            </p>
        </div>
        <div>  ||  <a href="index.html"> Home Page</a>  ||  
            <a href="addtolist.html"> Add New Entries</a>  ||  
            <a href="login.html"> Secure and Login</a>  ||  </div>
        <div><p>I chose favorite video games as my topic because I am enrolled in a video game development and programming program. 
            Given my program and my field of study, it makes sense that video games are not only a hobby, but a passion of mine. I enjoy
            not just playing games, but also looking at how they were made and how each part of the game was designed and how it works.
            I am the type of gamer who will try to run into walls at the right angles, simply to see if the game can handle it in the physics engine.
            The majority of my free time I spend in Unity working on games and projects, and I use much of the other time playing games and seeing
            things I like and dislike in a variety of games.
        </p></div>
</body>
</div>

</html>