<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Login Page (Non Working)</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Secure Login Page (Non Working)</h1><br><br>
    <div>Username:<br>
    <input type="text" name="username">
    <br>Password:<br>
    <input type="text" name="password">
    <br><br>
    <button>Login</button></div>
    <div class = "login"></div><br><br>
    <div>  ||  <a href="index.html"> Home Page</a>  ||  
        <a href="addtolist.html"> Add New Entries</a>  ||  
        <a href="login.html"> Secure and Login</a>  ||  </div>
    <script>
        var ws = new WebSocket('ws://localhost:3000', 'echo-protocol'),
        login = document.querySelector('input[name="credentials"]')

        document.querySelector('button').addEventListener('click', attemptLogin)

        function attemptLogin(){
            ws.send(login.value)
        }

    </script>

</body>
</html>