<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Server Example Using Express</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="container">
        <h1>Welcome to the Express Static Website Exmaple</h1>
        <nav>
            <a href="#">Home</a>
            <a href="about.html"> About</a>
            <a href="contact.html"> Contact</a>
        </nav>
        <img src="/images/yoda.jpg" alt="baby yoda" width="400px">
        <div style="width:400px;">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero eligendi sapiente voluptates in obcaecati.
                Vero sit laborum perferendis, eos hic dolorum esse iure expedita nobis. Quia hic ea eum quos.</p>
        </div>
</body>
</div>

</html>